@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

[contenteditable="true"]:focus {
  outline: none;
}

/* Global custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--background); /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #7e22ce7e;
  /* Color of the scrollbar thumb */
  cursor: pointer;
  border-radius: 6px; /* Rounded corners */
}
::-webkit-scrollbar-thumb:focus {
  background: #7e22ce; /* Color of the scrollbar thumb */
  cursor: none;
  border-radius: 6px; /* Rounded corners */
}

/* Optional: Change scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7e22ce9f; /* Change thumb color on hover */
}

.slick-slide div {
  outline: none;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

/* Placeholder styling */
[contenteditable].placeholder:empty:before {
  content: attr(data-placeholder);
  color: rgb(211, 211, 211);
  display: block;
}

.center-cursor::after {
  content: "|"; /* Cursor symbol */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  animation: cursor-blink 1s infinite step-end;
}

@keyframes cursor-blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.cursor-hidden {
  caret-color: transparent;
}

.center-cursor {
  text-align: center;
}

.center-cursor.cursor-hidden::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  pointer-events: none; /* Ensure no interaction with hidden cursor */
}

.centered-text {
  display: table-cell; /* Display as table-cell */
  text-align: center; /* Center horizontally */
  vertical-align: middle; /* Center vertically */
  height: 100%; /* Take full height of the parent */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.will-change-unset {
  will-change: unset;
}

.toaster {
  will-change: unset;
}

/* .overflow-wrap{
  overflow-wrap: break-word;
  overflow-wrap: a;
} */
